@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}
html{
    scroll-behavior: smooth;
}
nav{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50px;   
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    display: flex;
    background: rgba(30, 30, 30, 0.9);
    border-radius: 90px;
    z-index: 1000; /* tambahkan ini */
}
nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    color: white;
    font-size: clamp(12px, 2.5vw, 22px);
    font-family: "Poppins", sans-serif;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: clamp(12px, 2.5vw, 22px);
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav a:hover {
  color: #3e474d;
}

#home{ 
    background-image: url(image/background.png);
    height: 100vh;
    color: #dddddd;
}

.home_logo h1{
    font-family: "Orbitron", sans-serif;
    font-size: 4vw;
    margin-bottom: 15px;
}
.home_logo{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    
.logo {
  width: clamp(60px, 10vw, 150px);
  height: auto; /* biar proporsinya gak rusak */
  border-radius: 50%;
}

.home_judul {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    /* background-color: aqua; */
    margin-bottom: 2vw;
    
}

.home_judul h1 {
    font-family: "Orbitron", sans-serif;
    font-size: clamp(24px, 5vw, 60px);
    margin-bottom: 15px;
    text-align: center;
}
.home_judul p {
  font-size: clamp(12px, 2.5vw, 22px);
  text-align: center;
  color: #dddddd;
  max-width: 700px;
  margin: 0 auto;
}
#about{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}
.about_block {
  flex: 1; /* semua kolom sama lebar */
  transition: all 0.5s ease; /* animasi halus */
  position: relative;
}

.about_block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Saat di-hover */
.about_block:hover {
  flex: 5; /* kolom ini melebar */
  
}
.about_block:hover img {
  filter: brightness(50%); /* biar fokus ke yang di-hover */
}

/* Kolom lain menyusut */
#about:hover .about_block:not(:hover) {
  flex: 0.5;
  filter: brightness(30%); /* biar fokus ke yang di-hover */
}
.about_block h2{
    font-family: "Orbitron", sans-serif;
    position: absolute;
    font-size: clamp(24px, 5vw, 60px); 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0; /* awalnya tidak terlihat */
    transition: opacity 0.5s ease; /* animasi muncul */
    text-align: center;
}
.about_block p{
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 24px;
  opacity: 0; /* awalnya tidak terlihat */
  transition: opacity 0.5s ease; /* animasi muncul */
  text-align: center;
}

.about_block:hover h2,
.about_block:hover p{
  opacity: 1; /* teks muncul */
}


#konten{
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
}
.gambar-konten{
  width: 25%;
  height: 100%;
}
.gambar-konten:hover img{
  filter: blur(20%);
  transition: all 0.5s ease; /* animasi halus */
}
.konten_gambar{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.konten-teks{
  
  width: 75%;
  height: 100%;
  background-color: rgb(255, 255, 255)
}
.konten-teks h2{
 
  font-family: "Orbitron", sans-serif;
  font-size: clamp(24px, 5vw, 60px);
  margin-bottom: 15px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 0%;
}
.konten-teks p{
    font-family: "Nunito", sans-serif;
  font-size: clamp(12px, 2.5vw, 22px);
  text-align: justify;
  color: rgb(0, 0, 0);
  max-width: 700px;
  margin: 0 auto;
}
hr {
  width: 60%;
  border: none;
  height: 2px;
  background-color: #05eeff;
  margin: 20px auto;
  border-radius: 10px;
}
.main-konten-block{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.konten-block{
  
  background-color: #05eeff;
  height: 50vh;
  width: 30vh;
  border-radius: 20px;
  margin: 10px;
}
.


